#experiencia {
  display: grid;
  grid-template-columns: 460px 1fr;
  margin-top: 100px;
}

#experiencia .experiencia-titulo {
  font: 600 6rem/1.9 "Libre Caslon Text";
  color: var(--c5);
  width: 5ch;
  word-wrap: break-word;
}

.experiencia-descricao {
  margin-top: 48px;
  font: 400 1.4rem/1.5 "Poppins";
  max-width: 40ch;
}

.experiencia-descricao span {
  font-weight: 700;
  color: var(--p1);
}

.experiencia-cards > li {
  margin-top: 16px;
  background-color: var(--c2);
  border-radius: 4px;
  padding: 28px 36px;
  align-items: start;
  display: grid;
  grid-template-columns: 320px 1fr;
  column-gap: 100px;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.experiencia-cards > li::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 22px;
  background: linear-gradient(#ffbc95, #f48341);
  left: -4px;
  top: 24px;
}

.experiencia-cards h3 {
  display: inline-block;
  font: 700 1.125rem/0.9 "Poppins";
  position: relative;
}

.experiencia-cards #primeiro h3 + h3::before,
.experiencia-cards #segundo h3 + h3::before {
  display: inline-block;
  position: absolute;
  left: -110px;
  top: -2px;
  font: 400 0.875rem/1.5 "Poppins";
  color: var(--c8);
}

.experiencia-cards #primeiro h3 + h3::before {
  content: "13-08-2024";
}

.experiencia-cards #segundo h3 + h3::before {
  content: "03-12-2024";
}

.experiencia-cards p {
  margin-top: 16px;
  min-width: 0;
  max-width: 36ch;
  font: 400 0.875rem/1.5 "Poppins";
}

.habilidades {
  margin-top: 16px;
  display: flex;
  font: 400 0.875rem/1.5 "Poppins";
  flex-wrap: wrap;
  gap: 8px;
}

.habilidades li {
  background-color: var(--c0);
  padding: 8px 16px;
  border-radius: 4px;
}

@media (max-width: 1300px) {
  #experiencia {
    grid-template-columns: 1fr;
    margin-top: 60px;
  }

  #experiencia .experiencia-titulo {
    font-size: 2rem;
    width: fit-content;
    color: var(--c12);
  }

  .experiencia-descricao {
    max-width: 76ch;
    margin-top: 8px;
  }
}

@media (max-width: 840px) {
  .experiencia-descricao {
    font-size: 1rem;
    max-width: 40ch;
  }

  .experiencia-cards h3 {
    font-size: 1rem;
  }

  .experiencia-cards > li {
    padding: 22px 30px;
    column-gap: 24px;
  }

  .habilidades li,
  .experiencia-cards p {
    font-size: 0.8rem;
  }

  .experiencia-cards p {
    max-width: 24ch;
  }
}

@media (max-width: 600px) {
  #experiencia {
    margin-top: 60px;
  }

  .experiencia-conteudo {
    max-width: 400px;
  }

  .experiencia-cards > li {
    grid-template-columns: 170px 1fr;
    padding: 20px 8px 16px 16px;
    column-gap: 20px;
  }

  .habilidades {
    gap: 4px;
  }

  .habilidades li {
    padding: 4px 8px;
  }

  .experiencia-cards #primeiro h3 + h3::before,
  .experiencia-cards #segundo h3 + h3::before,
  .experiencia-cards p {
    font-size: 0.7rem;
  }
}
