.footer-bg {
  background-color: var(--c13);
}

#footer {
  padding: 7rem 9rem 2.4rem 5.7rem;
  color: var(--c0);
}

.footer-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 120px;
}

.footer-conteudo p {
  padding-top: 36px;
  font: 400 1.6rem/1.5 "Poppins";
  max-width: 29ch;
  min-width: 20ch;
  position: relative;
}

.footer-conteudo p::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 34px;
  height: 7px;
  top: 16px;
  background-color: var(--p1);
}

.contatos a {
  padding-top: 12px;
  display: block;
  font: 700 1.6rem/1.3 "Poppins";
}

.contatos a:hover {
  color: var(--p1);
  text-decoration: underline;
}

.contatos ul {
  margin-top: 20px;
  display: flex;
  column-gap: 40px;
}

#copyrigth {
  font: 400 1.2rem/1.5 "Poppins";
  margin-top: 80px;
  text-align: center;
}

@media (max-width: 1100px) {
  #footer {
    padding: 5rem 7rem 1.8rem 1rem;
  }

  #copyrigth {
    font-size: 0.9rem;
    margin: 4rem 0px 0px 8rem;
  }

  .contatos a {
    font-size: 1rem;
    margin-top: 12px;
  }

  .footer-conteudo {
    column-gap: 60px;
  }

  .footer-conteudo p {
    padding-top: 24px;
    font-size: 0.9rem;
  }

  .contatos ul {
    margin-top: 20px;
    column-gap: 32px;
  }

  .contatos li {
    width: 50px;
  }

  .footer-conteudo p::before {
    width: 20px;
    height: 5px;
    top: 12px;
  }
}

@media (max-width: 600px) {
  .contatos {
    margin-top: 8px;
  }

  .contatos a {
    font-size: 1rem;
  }

  .contatos ul {
    margin-top: 12px;
    column-gap: 12px;
  }

  .contatos li {
    width: 40px;
  }

  .footer-conteudo {
    grid-template-columns: 1fr;
  }

  .footer-conteudo p {
    font-size: 1rem;
    row-gap: 1rem;
  }

  #copyrigth {
    font-size: 0.7rem;
    white-space: nowrap;
    margin-left: 4.5rem;
    margin: 2rem 0px 0px 3rem;
  }

  #footer {
    padding: 3rem 5rem 1.8rem 0rem;
    margin-left: 1.5rem;
  }
}
