.top-bar {
  display: flex;
  gap: 160px;
}

.logo {
  position: relative;
}

.download:hover {
  color: var(--p1);
}

.atalhos a {
  font: 600 1.2rem/1.25 "Poppins";
  padding: 12px 24px;
  background-color: var(--c3);
  color: var(--c11);
  border-radius: 4px;
}

.atalhos a:hover {
  background-color: var(--c4);
}

.atalhos {
  display: flex;
  gap: 2rem;
  margin-top: 16px;
  place-content: center;
}

.download {
  white-space: nowrap;
  margin-top: 16px;
  display: flex;
  align-items: center;
  font: 600 1.3rem/1.25 "Poppins";
}

.download::before {
  content: "";
  width: 2rem;
  height: 2rem;
}

@media (max-width: 1300px) {
  .top-bar {
    gap: 80px;
  }
}

@media (max-width: 1100px) {
  .top-bar {
    flex-wrap: wrap;
    gap: 32px;
  }

  .atalhos {
    flex-wrap: wrap;
    row-gap: 44px;
  }

  .download {
    margin-left: 80px;
  }
}

@media (max-width: 520px) {
  .atalhos a {
    font-size: 0.8rem;
    padding: 4px 8px;
  }

  .download {
    font-size: 1.2rem;
    margin-left: 30px;
  }

  .download::before {
    width: 32px;
    height: 32px;
  }

  .top-bar {
    gap: 12px;
  }
}
